[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pytest-cov = "*"
pudb = "*"
pytest-freezegun = "*"
codecov = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages]
requests-oauthlib = "*"
requests = "*"
travelperk-python-api-types = "*"
pyhumps = "*"
dataclass-map-and-log = "==0.1.2"
